*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
#root{
  width: 100vw ;
  height: 100vh;
  background-color: transparent;
}
.content{
  background-color: transparent;
}
.header{
  height: 40vh;
  position: relative;
}
.map{
  height: 60vh;
}
.leaflet-container{
  height: 100%;
}
.searchBar{
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;

}
.icon_btn{
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  cursor: pointer;
}
.result{
  position: absolute;
  top:0;
  background-color: #fff;
  border-radius: 1rem;
  top: 80%;
  z-index: 1000;
}
.disabled {
  pointer-events: none;       /* disable mouse/touch interaction */
  opacity: 0.5;               /* make it look faded */
  cursor: not-allowed !important;        /* change cursor to forbidden */
  user-select: none;          /* prevent text selection */
}
@media(min-width:700px){
  .search{
    width: 70% !important;
  }
}
@media(min-width:900px){
  .result>div:first-child{
    flex-direction: row !important;
    justify-content: space-evenly;
    padding: 2rem 2rem;
  }
  .header{
    height: 30vh !important;
  }
}
@media(min-width:1024px){
  .search{
    width: 55% !important;
  }
  .result{
    width: 60% !important;
  }
}
@media(min-width:1200px){
  .search{
    width: 40% !important;
  }
    .result{
    width: 40% !important;
  }

}